.banner {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  background-color:paleturquoise;
  color: black;
  /* border: solid cyan 5px; */
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
