.card {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: lightgray;
    border: 3px solid darkgray;
    border-radius: 10px;
    /* height: 175px; */
    width: 175px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.buttonField {
    margin-top: 8px;
    display: flex;
}

.card.completed {
    background-color: lightgreen;
    border-color: darkgreen;
}